/** List of color used
*   dark grey: #4A484D
*   grey: #8A8486
*   celadon: #8AA383
*   dark celadon: #567350
*   light grey: #E4ECD7
*   light pink: #C9ACAE
*   pink: #B95C5E
*   dark pink: #993C3E
*   form grey: #F5F5F5, border: #DDDDDD
*/

.navbar-custom {
    color: #E4ECD7;
    background-color: #4A484D;
}
.navbar-custom a:hover{
    color: #1A181D;
    background-color: #8A8486;
}
.navbar-custom a {
    color: #E4ECD7;
    background-color: #4A484D;
}
.navbar-custom .active {
    color: #E4ECD7;
    background-color: #2A282D;
}